@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    margin: 0;
    font-family: 'ubuntu';
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-weight: bold;
}

nav > ul{
    display: grid;
    list-style-type: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 35px;
    font-size: 0.7em;
    color: white;
    margin-right: 220px;
    margin-left: -50px;
    margin-top: 17px;
}

.titre {
    font-size: 1.5em;
    color: white;
}

.contenu {
    font-size: 1em;
    color: black;

}
.menu_desktop > li > a{
    text-decoration: none;
    color: white;
}

header button {
    border-radius: 7px 7px 7px 7px ;
}

#trial {
    background-color: black;
    border: none;
    margin-right: 7px;
}

#trial > a {
    margin-right: 3px;
    color: white;
    width: 140px;
    font-size: 0.8em;
    text-decoration: none;
}

#login {
    background-color: #FA8A51;
    border: solid white;
    width: 80px;
    color: white;
    font-size: 0.6em;
}


#login > a {
    text-decoration: none;
    color: white;

}

header > li {
    color: white;
}

.menu_desktop img{
    width: 100px;
    
}

.menu_mobile {
    display: none;
}

#form {
    display: flex;
    flex-direction: column;
    border: none;
}

#formulaire {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 50px;
    margin-top: 30px;
}

#submit {
    margin-right: 69px;
    background-color: #FA8A51;
    color: white;
    height: 60px;
    width: 140px;
    border-radius: 10px 10px 10px 10px;
    border: none;
    font-weight: bold;
    margin-top: 10px;
}

header{
    background-color: #FA8A51;
    margin: 0;
    height: 320px;
}

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
}

#reseaux {
    margin-top: 38px;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
}

#contactus {
    color: white;
    font-size: 3.5em;
    margin: 0;
}

#contact p {
    color : black;
}

#header_content {
    margin-left: 10%;
    margin-right: 10%;
}
#main_content {
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 750px;
}
.footer_content {
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#main_content .title {
    color: #6CAACF;
    font-size: 2em;
    margin-bottom: -1px;
}

#right_bot_col {
    margin-top: 50px;
    margin-right: 117px;
}

.title2 {
    color: #6CAACF;
    font-size: 2em;
}

.title_contact {
    color: #6CAACF;
    font-size: 2em;
}

input {
    opacity: 0.7;
}

#facebook , #twitter , #linkedin {
    display: flex;
    align-items: center;

}

i {
    font-size: 3em;
    color: linear-gradient ( orange white) ;
}

input {
    height: 30px;
    margin: 12px;
    border-radius: 5px 5px 5px 5px;
    width: 430px;
    margin-right: 10px;
}
input#FirstName {
    margin-bottom: 16px;
}'ubuntu'
}

#title_footer_content2 {
    color: white;
    margin-left: 40px;
}

#logo {
    font-size: 0.4em;
    margin-left: 17px;
    color: #FF8C5D;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;    
}

.fab fa-linkedin-in {
    margin : 3px;
}


#about {
    width: 250px;
}


#final {
}

textarea {
    height: 100px;
    border-radius: 5px 5px 5px 5px;
    width: 430px;
    margin-left: 10px;
}

#right_bot_col img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

#twitter img{
    width: 60px;
    height: 60px;
}


footer {
    background-color: #424242;
    color: #A5A5A5;
    list-style-type: none;
    line-height: 1.5em;
}

.footer_content > div > ul > li > a {
    text-decoration: none;
    color: #A5A5A5;
}


#about > li{
    text-decoration: none;
    color: #A5A5A5;
    
}

#droits {
    display: flex;
    flex-direction: column;
    margin-left:13%;
}

#last_sentence > a {
    text-decoration: none;
    color:#FF8C5D; 
}

button:hover {
    transition: all 0.9s;
    animation: normal;
}

#button_final {
    width: 150px;
    margin-left: 40px;  
    background-color: #062334;
    color: white;
    border: none;
    border-radius: 5px 5px 5px 5px;
}

#button_final > a {
    text-decoration: none;
    color: white;
}

#submit > a {
    text-decoration: none;
    color: white;
}


#title_footer_content {
    color: white;
}


#title_footer_content2 {
    color: white;
    margin-left: 22%;
}

ul {
    list-style-type: none;
}

.p_content > a {
    text-decoration: none;
    color: #FF8C5D;
}

.p_content2 > a {
    text-decoration: none;
    color: #FF8C5D;
}

@media (max-width : 500px) {
    nav {
           
        display: flex;
        
        font-weight: bold;
        flex-direction: column;
        padding: 3% 6%;
      }

    body {
        margin: 0;  
    }
    #header_content {
        margin-left: 0;
        margin-right: 0;
        height: 10%;
    }
    #main_content {
        margin-left: 0;
        margin-right: à;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 80%;
    }
    .footer_content {
        margin-left: 0;
        margin-right: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .menu_desktop img {
        width: 70px;
    }
    #contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
    }

    #contactus {
        font-size: 2.6em;
    }

    #submit:hover {
        transition: all 1s;
        background-color: blue;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
    }

    #main_content {
        display: grid;
        grid-template-columns: 1fr;
    }

    footer {
      display: flex;
      flex-direction: column;
    }

    .footer_content {
        display: flex;
        flex-direction: column;
    }

    textarea {
        height: 100px;
        border-radius: 5px 5px 5px 5px;
        width: 80%;
        margin-left: 10px;
        font-family: 'ubuntu' ;
        opacity: 0.7;
    }
    input {
        height: 30px;
        margin: 12px;
        border-radius: 5px 5px 5px 5px;
        width: 80%;
        margin-right: 10px;
    }

    .p_content {
        width: 300px;
    }

    .p_content2{
        width: 70%;
    }
    #buttons {
        position: absolute;
        right: -20px;
        top: 0px;
    }

    #reseaux {
        margin-top: 30px;
        margin-left: 15px;
        width: 80%;
    }

    .contenu {
        margin-left: 10px;
        margin-top: 13%;
    }

    #formulaire {
        width: 66%;
    }

    nav > ul {
        grid-gap: 18px;
    }
    #title_footer_content2 {
        color: white;
        margin-left: 12%;
    }
}